@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
header {
    text-align: center;
    height: 75px;
    background-color: #5e5e5e;
    color: #FFFFFF;
    margin-top: -100 !important;
    z-index: 2;
}
.headertitle {
    font-family: Cookie;
    font-size: 2.25em;
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 16px !important;
    margin-bottom: 8px !important;
}
.headername {
    font-size: 1em;
    display: inline-block;
    float: right;
    margin-right: 50px;
    margin-top: 22px !important;
    margin-bottom: -10px !important;
    text-align: right;
}
nav {
  background: #00caa2 !important;
  position: fixed;
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: bold;
  transition: box-shadow 0.5s ease;
  z-index: 3;
  overflow-y: hidden;
  box-shadow: 0px 1px 5px #000;
}
.fa-stack-1x {
    -moz-transition: all .8s ease-in;
    -o-transition: all .8s ease-in;
    -webkit-transition: all .8s ease-in;
    transition: all .8s ease-in;    
}

.fa-stack-1x:hover {
    line-height: initial;
    color: #864AFF;
}
nav ul {
    margin-right: 40px;
    margin-top: 30px;
}
nav li {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  text-transform: uppercase;
  position: relative;
}
nav i {
    padding-bottom: 22px;
    margin-top: -10px;
}
nav a {
  text-decoration: none;
  color: #fcfff5;
  padding: 10px;
}
.topnavi::after {
  content: '';
  display: block;
  border-bottom: 2px solid #864AFF;
  width: 0;
  position: absolute;
  left: 0;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.topnavi:hover::after { 
  width: 100%; 
}
.navScrolled {
  position: fixed;
  top: 0 !important;
  z-index: 3;
  box-shadow: 0px 1px 5px #000;
}
h1 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}
.one-half.left h1:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -8px;
  background: #00FDCB;
  transition: 500ms all ease-in-out;
}
.one-half.right h1:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -8px;
  background: #864aff;
  transition: 500ms all ease-in-out;
}
a.cta1 {
  display: block;
  position: absolute;
  height: 50px;
  line-height: 50px;
  width: 120px;
  text-align: center;
  color: #fff;
  font-size: 0.75em;
  text-decoration: none;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #fff;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a.cta1:before {
  content: "";
  font-size: 1.5em;
  background: #fff;
  opacity: 0;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 200ms all ease-in-out;
}
a.cta1:hover:before {
  height: 4px;
  opacity: 1;
}
a.cta2 {
  display: block;
  position: absolute;
  height: 50px;
  line-height: 50px;
  width: 120px;
  text-align: center;
  color: #fff;
  font-size: 0.75em;
  text-decoration: none;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #fff;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a.cta2:before {
  content: "";
  font-size: 1.5em;
  background: #fff;
  opacity: 0;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 200ms all ease-in-out;
}
a.cta2:hover:before {
  height: 4px;
  opacity: 1;
}
.container {
  background-image: url(/Background_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom-center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.container .one-half {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.container .one-half.left {
  left: 0;
}
.container .one-half.left:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(	117, 48, 255, 0.5);
  position: absolute;
}
.container .one-half.right {
  right: 0;
}
.container .one-half.right:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 253, 203, 0.5);
  position: absolute;
}
.container .one-half.left, .container .one-half.right {
  transition: 500ms all ease-in-out;
}
.container .one-half.left:before, .container .one-half.right:before {
  transition: 500ms all ease-in-out;
}
.container.left-is-hovered .left {
  width: 85%;
}
.container.left-is-hovered .left h1:after {
  width: 100%;
}
.container.left-is-hovered .right {
  width: 15%;
}
.container.left-is-hovered .right:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}
.container.right-is-hovered .right {
  width: 85%;
}
.container.right-is-hovered .right h1:after {
  width: 100%;
}
.container.right-is-hovered .left {
  width: 15%;
}
.container.right-is-hovered .left:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}
main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-top: 150px !important;
  scroll-behavior: smooth;
}
section {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 730px;
    background-color: #864AFF;
}
#on {
  position: absolute;
  opacity: 0;
}
a {
  width: 100px;
  text-decoration: none;
  color: inherit;
}
.contactlogos {
    float: right !important;
    font-weight: normal !important;
}
.contactlogos i{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.contactcolumnleft i{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.contactlogos i:hover {
    color: #864AFF;
}
.contactcolumnleft i:hover {
    color: #00FDCB;
}
#personal ul {
    margin-left: 25%;
}
#personal li {
  text-align: left;
  font-size: 1.25rem;
}
#personal li:before {
  content: "\f005"; 
  font-family: FontAwesome;
  color: #00fdcb;
  display: inline-block;
  margin-left: -1.3em; 
  width: 1.3em; 
}

h2 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 2em;
    color: #00FDCB;
}
.content {
    align-self: center !important;
    width: 70%;
    color: #ffffff;
    height: auto;
    display: block;
    left: 15%;
    position: relative;
    padding-top: 150px;
    min-height: 200px;
}
.content img {
    width: 200px;
    height: auto;
    align-content: center;
    display: block;
    position: relative;
    margin-bottom: 25px;
}
.backtotop {
    float: left !important;
}
p {
    font-size: 1.25em;
}
a.cta3 {
  display: block;
  position: relative;
  margin-top: 16px;
  margin-bottom: 80px;
  height: 50px;
  line-height: 50px;
  width: 240px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #00FDCB;
  font-size: 0.75em;
  text-decoration: none;
  border: 2px solid #00FDCB;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-sizing: unset !important;
}
a.cta3:before {
  content: "";
  font-size: 1.5em;
  background: #00FDCB;
  opacity: 0;
  height: 0;
  width: 240px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 200ms all ease-in-out;
}
a.cta3:hover:before {
  height: 8px;
  opacity: 1;
}
.section_exp {
    background-color: #7b39ff;
    display: flex;
    position: relative;
    min-height: 1750px;
    width: 100%;
}
.timeline {
    width: 70%;
    height: 1750px;
    display: block;
    position: relative;
    margin: 0 auto;  
}
.timeline ul {
    text-align: left !important;
}
.timeline p {
    text-align: left !important;
}
timeline h2 {
    text-align: right !important;
}
.timeline h3 {
    text-align: left !important;
}
.timeline i {
    color: #864aff;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.timeline i:hover {
    color: #fd0098;
}

.timeline img {
    float: right;
    width: 100px;
    height: 100px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #00FDCB;
    top: 0;
    height: 1750px;
    margin-left: -3px;
    padding-bottom: 50px;
}
.containerexp {
    padding: 10px 40px;
    position: relative;
    top: 10%;
    transform: translateY(-15%);
    background-color: inherit;
    width: 50%;
}
.containerexp::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #00FDCB;
    border: 2px solid #00FDCB;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.leftexp {
    left: -25%;
}
.rightexp {
    left: 25%;
}
.leftexp::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.rightexp::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.rightexp::after {
    left: -13px !important;
}
.contentexp {
    padding: 20px 30px;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    border-radius: 6px;
    text-align: left !important;
}

.contentexp h2 {
    color: #000000;
}

.skillscontent {
    margin-left: 25%;
    display: inline-flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

#skills {
    background-color: #864AFF;
}

.rowskills {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}
.columnskills {
    -ms-flex: 20%; 
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
    align-self: center !important;
}
.columnskills img {
    margin-top: 8px;
    vertical-align: middle;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    margin-top: 16px;
    height: auto;
    width: 170px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #00FDCB;
    background-color: #5e5e5e; 
    font-size: 0.75em;
    text-decoration: none;
    border: 2px solid #00FDCB;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
#submitbutton:hover::before {
  height: 8px;
  opacity: 1;
}
#submitbutton::before {
  content: "";
  font-size: 1.5em;
  background: #00FDCB;
  opacity: 0;
  height: 0;
  width: 240px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 200ms all ease-in-out;
}
.footer {
    border-radius: 5px;
    background-color: #5e5e5e;
    padding: 10px;
    color: #FFF;
    width: 100%;
}

#contact {
    min-height: 500px !important;
}

.footer h2 {
    text-align: left;
}

label {
    text-align: left !important;
}
.contactcolumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    padding-right: 80px;
    align-content: left;
}
.contactcolumnleft {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    padding-left: 80px;
    align-content: left;
}
.contactrow {
    text-align: left;
}
.contactrow p {
    width: 80%;
}
.contactrow:after {
    content: "";
    display: table;
    clear: both;
}
.footer li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    padding-left: 0px;
    padding-right: 20px;
}
.footer ul {
    align-content: left !important;
    padding-left: 0!important;
}
button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus,{
  outline: 0 !important;
}
button.back-to-top::before {
  content: "\f077";
  font-family: "FontAwesome";
  display: block;
  vertical-align: middle;
  margin: -5px 0 auto;
}
button.back-to-top.show {
  display: block;
  background: #fff;
  color: #00ab6c;
  font-size: 25px;
  right: 25px;
	bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1000px) {
    .columnskills {
        -ms-flex: 75%;
        flex: 75%;
        max-width: 75%;   
    }
    .section_exp {
        min-height: 1900px;
    }
    .timeline::after {
    height: 1900px;
    }
}
@media only screen and (max-width: 680px) {
    .timeline::after {
    left: 31px;
    height: 1900px;
    }
    .containerexp {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    .containerexp::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    .leftexp::after, .rightexp::after {
    left: 15px;
    }
    .rightexp {
    left: 0%;
    }
    .contactcolumn, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .contactlogos {
    float: left;
    }
    .contentexp {
        width: 400px;
    }
    .timeline {
        height: 2100px;
    }
       .columnskills {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}