html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-display: swap;
    color: #555;
    font-size: 16px;
    scroll-behavior: smooth;
}

@media (min-width: 6.25em) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 12.5em) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 18.75em) {
    html {
        font-size: 19px;
    }
}

@media (min-width: 25em) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 31.25em) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 37.5em) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 43.75em) {
    html {
        font-size: 23px;
    }
}

@media (min-width: 50em) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 56.25em) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 62.5em) {
    html {
        font-size: 26px;
    }
}

@media (min-width: 68.75em) {
    html {
        font-size: 27px;
    }
}

@media (min-width: 75em) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 81.25em) {
    html {
        font-size: 29px;
    }
}

@media (min-width: 87.5em) {
    html {
        font-size: 30px;
    }
}

@media (min-width: 93.75em) {
    html {
        font-size: 31px;
    }
}

@media (min-width: 100em) {
    html {
        font-size: 32px;
    }
}

@media (min-width: 106.25em) {
    html {
        font-size: 33px;
    }
}

@media (min-width: 112.5em) {
    html {
        font-size: 34px;
    }
}

@media (min-width: 118.75em) {
    html {
        font-size: 35px;
    }
}

@media (min-width: 125em) {
    html {
        font-size: 36px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.side {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 50px;
    border-right: 1px dashed rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 1);
    font-family: "nimbus-sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: .0875rem;
    font-size: 10px;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side:hover {
    color: rgba(0, 0, 0, 0.5);
}

.side .top.nav__white,
.side .bottom.nav__white,
svg#krooneman__logo.nav__white,
svg#icon__mail.nav__white,
svg#icon__github.nav__white,
svg#icon__codepen.nav__white {
    color: #fff !important;
    fill: #fff !important;
}

.side top.nav__black,
.side bottom.nav__black,
svg#krooneman__logo.nav__black,
svg#icon__mail.nav__black,
svg#icon__github.nav__black,
svg#icon__codepen.nav__black {
    color: rgba(0, 0, 0, 0.5) !important;
    fill: #000;
}

.side .side__inner {
    position: relative;
    height: 100%;
    white-space: nowrap;
}

.side a {
    color: inherit;
    word-spacing: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side .top,
.side .bottom {
    position: absolute;
    left: 0;
    -webkit-transform: rotate(-90deg) perspective(1px);
    transform: rotate(-90deg) perspective(1px);
    -webkit-transform-origin: 50px 50px;
    transform-origin: 50px 50px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    word-spacing: .5rem;
}

.side .top {
    top: 110px;
    text-align: right;
    color: black;
}

#krooneman__logo {
    transform: rotate(90deg);
    fill: #000;
    margin-top: 8px;
    position: absolute;
}

.side__icon {
    fill: #000;
}

.side .bottom {
    top: auto;
    bottom: 75px;
}

.side .bottom:hover a {
    color: rgba(0, 0, 0, 0.2);
}

.side .bottom:hover a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.anchornav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.anchornav li {
    display: block;
}

.anchornav li::after {
    content: '';
    width: 1.3rem;
    display: block;
    height: 2px;
    background: black;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.anchornav li:last-child::after {
    display: none;
}

.anchornav a {
    display: block;
    padding: 1em 0;
    font-family: "nimbus-sans", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: inherit;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.anchornav a span {
    display: inline;
    padding: .5em 0 0;
    /*    opacity: .3;*/
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    text-transform: none;
}

.anchornav a:hover {
    color: #de5f5f;
}

.anchornav a:hover span {
    opacity: 1;
    color: #181818;
}

.anchornav a:hover .anchornav li::after {
    width: 9rem;
}

.interest1 {}

.interest2 {}

.interest3 {}

.section {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: calc(100vh - 25px);
    width: 100%;
    align-content: center;
    padding: 20vh 50px 20vh 75px;
}

.section .section__svg {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}

.section .section__svg .bottom {
    bottom: 0;
    top: auto;
    fill: grey;
}

.section .section__inner {
    height: 100%;
    max-width: 800px;
    margin: auto 0;
}

.section.section--hello {
    background-color: #FDEF52;
    color: #181818;
}

.section.section--hello svg.bottom {
    fill: #FDEF52;
    top: auto;
    bottom: -50px;
    z-index: 3;
}

.section.section--intro {
    background-color: white;
    color: #555;
}

.section.section--about {
    background-color: #de5f5f;
    color: white;
}

.section.section--about svg {
    fill: #de5f5f;
}

.section.section--experience {
    background-color: #343436;
    color: white;
}

.section.section--experience svg {
    fill: #343436;
}

.section.section--portfolio {
    background-color: #028762;
    color: white;
}

.section.section--portfolio svg {
    top: -20px;
    fill: #028762;
}

.section.section--portfolio svg.bottom {
    top: auto;
    bottom: -50px;
}

.section.section--portfolio1 {
    background-color: #151E3C;
    color: white;
}

.section.section--portfolio1 svg {
    top: -50px;
    fill: #151E3C;
}

.section.section--pepperhill svg {
    top: -50px;
    fill: #345995;
}

.section.section--contact svg {
    fill: white;
}

svg.skill__icon {
    max-width: 3rem;
    max-height: 3rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h5 {
    font-family: "nimbus-sans", sans-serif;
    font-weight: bold;
    font-display: swap;
    margin: 0 0 1em;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width: 30rem) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h5 {
        letter-spacing: -2px;
    }
}

p a,
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h5 a {
    color: inherit;
    position: relative;
}

/*
h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h5 a:hover {
    border-bottom: .1875rem solid;
}
*/

p a::after,
h1 a::after,
.h1 a::after,
h2 a::after,
.h2 a::after,
h3 a::after,
.h3 a::after,
h4 a::after,
.h5 a::after {
    content: '';
    display: block;
    padding-bottom: 4px;
    border-bottom: .1875rem solid #555;
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

h2 span a::after {
    border-bottom: .25rem solid #de5f5f;
    ;
}

a:hover::after,
a:active::after,
a:focus::after {
    width: 100%;
}

h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h5 span {
    color: #de5f5f;
}

h2#app span {
    color: #000;
}

h2 a {
    color: #de5f5f;
}

h1,
.h1 {
    font-size: 1.2rem;
}

@media (min-width: 30rem) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: 1.2rem;
}

@media (min-width: 30rem) {

    h2,
    .h2 {
        font-size: 2.5rem;
    }
}

.pre {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    opacity: .8;
    letter-spacing: 1.4px;
    word-spacing: .2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
    color: inherit;
}

.pre span {
    font-size: .9em;
    margin-right: .4em;
    /*    opacity: .5;*/
}

.pre:hover {
    opacity: 1;
}

p {
    font-size: .75rem;
    line-height: 1.4;
}

@media (min-width: 30rem) {
    p {
        font-size: .875rem;
    }
}

li {
    margin-left: 1rem;
}

ul.availability {
    list-style: none;
}

ul.availability li::before {
    content: "\2022";
    color: #DE5F5F;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.availability span {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #DE5F5F;
}

p a {
    font-weight: bold;
    color: inherit;
}

/*
p a:hover {
    border-bottom: .1875rem solid;
}
*/

#skill__python,
#skill__nodejs {
    display: none;
}


.lead {
    display: block;
    font-size: .875rem;
    margin: 0;
}

@media (min-width: 30rem) {
    .lead {
        font-size: 1rem;
    }
}

.portfolio {
    font-size: .75rem;
}

.portfolio.block {
    display: inline-block;
    width: 100%;
}

@media (min-width: 30rem) {
    .portfolio.block {
        width: 30%;
    }
}

.portfolio .link {
    display: block;
    margin: 2em 0 0 0;
    color: #555;
    letter-spacing: 2px;
    font-size: 12px;
}

.portfolio p {
    font-size: inherit;
    color: #343436;
    opacity: .7;
}

.exp__active {
    display: block;
}

.exp__inactive {
    display: none;
}

.slide__controls {
    max-width: 800px;
    margin-bottom: 50px;
}

.control__dot {
    cursor: pointer;
    height: .25rem;
    width: 50px;
    background-color: #717171;
    background: linear-gradient(to left, #717171 0%, #717171 33%, #bbb 33%, #bbb 66%, #717171 66%, #717171 100%);
    background-size: 300% 100%;
    display: inline-block;
}

.dot__left {
    background-position: left bottom;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1); 
}

.dot__right {
    background-position: right bottom;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1); 
}

.dot__active {
    background: linear-gradient(to left, #717171 0%, #717171 33%, #bbb 33%, #bbb 66%, #717171 66%, #717171 100%);
    background-size: 300% 100%;
    background-position: center bottom;
    -webkit-transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}




